# Freshservice Configuration
FRESHSERVICE_API_KEY=
FRESHSERVICE_DOMAIN=
EXCHANGE_TENANT_ID=
EXCHANGE_CLIENT_ID=
EXCHANGE_CLIENT_SECRET=
EXCHANGE_USER_PRINCIPAL_NAME=

# Global Configurations (JSON Strings)
# Use JSON format for these lists. Example format provided below.
STREAMS_CONFIG='[{"name": "Chamber 1", "url": "https://example.com/hls1.m3u8"}, {"name": "Chamber 2", "url": "https://example.com/hls2.m3u8"}]'
SITE_CONFIG='[{"name": "Site A", "url": "1.2.3.4", "location": "North"}, {"name": "Site B", "url": "5.6.7.8", "location": "South"}]'

# Site Configuration
# Add your 36 gateway IPs here separated by commas
GATEWAY_IPS=10.1.1.1,10.1.1.2,10.1.1.3
