# Freshservice Configuration
FRESHSERVICE_API_KEY=
FRESHSERVICE_DOMAIN=
EXCHANGE_TENANT_ID=
EXCHANGE_CLIENT_ID=
EXCHANGE_CLIENT_SECRET=
EXCHANGE_USER_PRINCIPAL_NAME=

# Site Configuration
# Add your 36 gateway IPs here separated by commas
GATEWAY_IPS=10.1.1.1,10.1.1.2,10.1.1.3
